# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn*

pmpm-lock.yaml
package-lock.json

/public/bundle.min.js

.env
/log
/db
/public/images/large
/public/images/small
/public/images/tmp
/public/dist
/tmp
*.env
.scratch
.idea
/data
