div, p, span {
    font-family: 'Lato', sans-serif;
}

a {
    color: #444;
}

a:hover {
    color: black;
}

.logo {
    color: black;
    font-size: 140%;
}

.container {
    padding: 2.0rem;
}

.social {

}

.footer {
    margin-top: 40px;
}

.copyright {
    font-size: 80%;
}

.menu {
    margin-top: 20px;
    font-style: italic;
}

.menu > div {
    margin: 8px 0;
}

.menu hr {
    margin: 16px 50% 16px 0;
}

.item {
    font-size: 140%;
    margin: 5px;
    color: #ccc;
}

.menu .selected {
    padding-left: 8px;
    border-left: 4px solid #eee;
}

.menu .selected a {
    color: black;
    font-weight: 400;
    font-style: normal;
}

.menu .first-in-block {
    margin-top: 12px;
}

.ReactGridGallery_tile {
    margin: 12px !important;
}

.ReactGridGallery_tile-viewport {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
}
