@import './dropzone.css';

html, body {
    background-color: whitesmoke;
    margin:0;
    padding:0;
}


div.underRoot {
    background-image: url(../images/homebg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;

    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;

    /*-webkit-transition: all .5s linear;*/
    /*-moz-transition: all .5s linear;*/
    /*-o-transition: all .5s linear;*/
    /*transition: all .5s linear;*/
}

div, p, span {
    font-family: 'Arimo', sans-serif;
}

a {
    color: #444;
}

a:hover {
    color: black;
    background-color: white;
}

.logo {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 3rem;
}

.underRoot .logo {
    color: transparent;
}

.underRoot .menu a, .underRoot .footer, .underRoot .footer a {
    color: white !important;
}

.underRoot .menu .selected a {
    color: black !important;
}

.social {

}

.copyright {
    font-size: 80%;
    padding-left: 6px;
}


.item {
    font-size: 140%;
    margin: 5px;
    color: #ccc;
}

.menu .selected {
    padding-left: 0;
    margin-left: -14px;
}

.menu .selected a {
    color: black;
    background-color: white;
    padding: 6px 14px;
}
.menu .first-in-block {
    margin-top: 12px;
}

.menu a:hover {
    color: silver;
    background: transparent;
}

.underRoot .menu a:hover {
    color: #ddd !important;
    /*background: transparent;*/
}


.menu .selected a:hover {
    color: black;
    cursor: default;
}

.underRoot .menu .selected a:hover {
    color: #888 !important;
    background-color: white;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.ReactGridGallery_tile {
    width: 100% !important;
}

.ReactGridGallery_tile-viewport {
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    width: 100% !important;
    height: 100% !important;
}

.ReactGridGallery_tile-viewport img {
    width: 100% !important;
    height: 100% !important;
}


.admin {
    font-size: 80%;
    /*font-style: normal;*/
}

.admin a {
    /*font-style: normal;*/
}

.form-group {
    padding: 20px;
    margin-left: 13px;
    width: 92%;
}

.form-group textarea {
    height: 80px;
}

.clearBoth {
    clear: both;
}

input, textarea {
    background-color: white !important;
}

textarea::placeholder {
    color: silver;
}

.files input.form-control {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.error {
    margin: 6px 0 12px;
    padding: 6px 12px;
    color: red;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
}

.commands {
    font-size: 80%;
    font-weight: bold;
    padding: 0 24px;
}

.commands a {
    cursor: pointer;
}

.confirm {
    border: 1px solid #eee;
    background-color: white;
    padding: 24px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px;
}

.confirm img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.confirm button {
    margin: 2px 12px 2px 0;
}

.underEditor {
    padding: 12px;
}

.underEditor button {
    margin-right: 12px;
}

.ql-editor {
    min-height: 200px;
}

.ql-editor p {
    padding: 4px 0;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.ql-container.ql-snow {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    margin: 6px 0;
}

.menu-trigger {
    float: right;
    margin-top: -9px;
}

.menu {
    display: none;
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: right;
}

.menu.show {
    display: block;
    margin-top: -14px;
    margin-bottom: 8px;
}

.menu > div {
    margin: 2px 0;
}

.menu hr {
    display: none;
}

.only-mobile {
    display: block !important;
}

.only-desktop {
    display: none !important;
}

@media screen and (max-width: 800px) {
    .image-element-class {
        list-style-type: none;
         border: none !important;
        border-radius: 2px;
        padding: 2rem;
        /* margin-left: 6px; */
        margin-right: 6px;
         background: whitesmoke !important;
    }

}


@media screen and (min-width: 40.0rem) {

    .ReactGridGallery_tile {
        margin: 12px !important;
        width: auto !important;
    }

    .ReactGridGallery_tile-viewport {
        width: 180px !important;
        height: 180px !important;
    }

    .ReactGridGallery_tile-viewport img {
        width: 180px !important;
        height: 180px !important;
    }

    .menu .selected {
        font-weight: 700;
    }

    .only-mobile {
        display: none !important;
    }

    .only-desktop {
        display: block !important;
    }

    .footer.only-desktop {
        position: absolute;
        bottom: 18px;
        left: 18px;
    }

    .menu {
        display: block;
        margin-top: 70px;
        /*font-style: italic;*/
        text-align: left;
    }

    .menu > div {
        margin: 2px 0;
    }

    .menu hr {
        display: block;
        margin: 16px 50% 16px 0;
        border-color: transparent;
    }

    .footer.mobile {
        display: none;
    }

    .footer.desktop {
        margin-top: 40px;
        display: block;
    }

    .logo {
        margin-top: 24px;
    }

}

.card {
    width: 360px;
}

.wrapper {
    position: relative;
    overflow: auto;
    max-height: 100vh;
}

.leftColumn {
    margin-top: 20px;
    padding: 0 3rem 0 5rem !important;

}

.image-element-class {
    list-style-type: none;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    padding: 2rem;
    margin-left: 6px;
    margin-right: 6px;
    background: white;
}

.extraPadding {
    padding-top: 44px !important;
    padding-bottom: 24px !important;
}

.caption {
    margin-top: 8px;
    margin-bottom: -6px;
    font-size: 1.3rem;
}

.caption .specsBlock {
    margin-top: 2px;
}

.caption .specs {
    line-height: 1.7rem;
}

.editButton {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 100px;
    padding: 8px;
    background-color: rgba(0,0,0,.2);
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
}

.command {
    cursor: pointer;
}

button.cancel {
    background-color: crimson;
}

.floatRight {
    float: right;
}

.mt120 {
    margin-top: 120px;
}

.mt20 {
    margin-top: 20px;
}

.newSection {
    margin-top: 12px !important;
    font-size: 80%;
    color: darkmagenta;
}

.logoHome {
    margin-top: 80px;
}

.logoHome span {
    font-size: 600%;
    color: white;
}
